<div class="product-grid" style="display: flex; flex-wrap: wrap; justify-content: center;">
  <ng-container *ngFor="let product of productsList">
    <div class="product-item" style="flex: 0 0 calc(25% - 20px); margin: 10px;">
      <p-card [style]="{ width: '100%' }">
        <a [routerLink]="['/products', (product.id)]">
          <img src="{{ product.image }}" alt="{{ product.title }}" class="product-image" style="width: 100%; object-fit: contain;" />
        </a>
        <div class="product-info p-4">
          <h5 class="product-title">
            <a [routerLink]="['/products', (product.id)]" style="text-decoration: none; color: inherit;">{{ product.title | slice: 0 : 30 }}</a>
          </h5>
          <p class="product-category">{{ product.category }}</p>
        </div>
        <div style="display: flex; align-items: center; justify-content: space-between; margin: 10px;" class="product-price p-4">
          <span>{{ '$' + product.price }}</span>
          <p-button (click)="onAddToCart()">Add to cart</p-button>
        </div>
      </p-card>
    </div>
  </ng-container>
</div>
